.vs/ci-cd-hackaton-zamora-gabriel/CopilotIndices/17.12.53.23981/CodeChunks.db
.vs/ci-cd-hackaton-zamora-gabriel/CopilotIndices/17.12.53.23981/CodeChunks.db-shm
.vs/ci-cd-hackaton-zamora-gabriel/CopilotIndices/17.12.53.23981/CodeChunks.db-wal
.vs/ci-cd-hackaton-zamora-gabriel/CopilotIndices/17.12.53.23981/SemanticSymbols.db
.vs/ci-cd-hackaton-zamora-gabriel/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
.vs/ci-cd-hackaton-zamora-gabriel/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
.vs/ci-cd-hackaton-zamora-gabriel/FileContentIndex/6ce54f13-2fb0-476f-ba2a-ecc608185c80.vsidx
.vs/ci-cd-hackaton-zamora-gabriel/FileContentIndex/87e43407-178c-40ba-816f-efb198d8380d.vsidx
.vs/ProjectSettings.json
.vs/slnx.sqlite
