.vs/ci-cd-hackaton-zamora-gabriel/CopilotIndices/17.12.53.23981/CodeChunks.db
.vs/ci-cd-hackaton-zamora-gabriel/CopilotIndices/17.12.53.23981/CodeChunks.db-shm
.vs/ci-cd-hackaton-zamora-gabriel/CopilotIndices/17.12.53.23981/CodeChunks.db-wal
.vs/ci-cd-hackaton-zamora-gabriel/CopilotIndices/17.12.53.23981/SemanticSymbols.db
.vs/ci-cd-hackaton-zamora-gabriel/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
.vs/ci-cd-hackaton-zamora-gabriel/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
.vs/ci-cd-hackaton-zamora-gabriel/FileContentIndex/6ce54f13-2fb0-476f-ba2a-ecc608185c80.vsidx
.vs/ci-cd-hackaton-zamora-gabriel/FileContentIndex/87e43407-178c-40ba-816f-efb198d8380d.vsidx
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/ci-cd-hackaton-zamora-gabriel/FileContentIndex/e3d6e924-a1fc-4288-bec3-de09916e92d1.vsidx
.vs/ci-cd-hackaton-zamora-gabriel/FileContentIndex/0621a764-b840-4b6b-a4a8-eea08fa77020.vsidx
.vs/ci-cd-hackaton-zamora-gabriel/FileContentIndex/78dd9ac5-90ba-4c8e-a36e-6de8b4883ece.vsidx
.vs/ci-cd-hackaton-zamora-gabriel/v17/.wsuo
.vs/ci-cd-hackaton-zamora-gabriel/v17/DocumentLayout.json
.vs/VSWorkspaceState.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
